$text: #2C3E50

$card: white
$card-border: #D5D8DC

$button: white

$primary: #1ABC9C
$hover: #17A589
$active: #148F77

$disabled: #BDC3C7
$disabled-primary: #7B7D7D 

$primary-shadow: rgba(0,0,0,.5)

$border: #17A589

$outline: #76D7C4

$input-background: #F8F9F9
$input-disabled: #E5E7E9
$input-border: #BDC3C7
