$text: #34495E
$text-inactive: #5D6D7E

$card: white
$card-border: #D5D8DC
$card-border-inactive:  #EAEDED 
$card-shadow: rgba(0, 0, 0, .2)

$button: #E8F8F5
$button-border: black
$button-shadow: rgba(0, 0, 0, .4)

$primary: #1ABC9C
$active: #148F77

$warning: #F39C12 
$warning-active: #D68910

$alert: #E74C3C

$info: $text
$info-text: white
$info-border: $text

$disabled: #BDC3C7
$disabled-primary: #7B7D7D 

$border: #17A589

$outline: #76D7C4

$input-background: #F8F9F9
$input-disabled: #E5E7E9
$input-border: #BDC3C7
$input-label: #979A9A

$input-valid-background: #EAFAF1
$input-valid-border: #82E0AA

$input-invalid-background: #FDEDEC
$input-invalid-border: #F1948A
