@use 'colors'
@use 'borders'

body
  background-color: #F6F2F0
  color: colors.$text
  font-family: 'Exo 2 Variable'

/* Cards */
.card
  background-color: colors.$card
  border: borders.$card
  border-radius: borders.$radius
  filter: drop-shadow(rgba(0,0,0,.25) 0 .1rem .1rem)

/* Form inputs */
.form-input
  background-color: colors.$input-background
  border: 1px solid colors.$input-border
  border-radius: borders.$radius

.form-input:disabled
  background-color: colors.$input-disabled
  border: 1px solid colors.$input-disabled

form.validated
  .form-input.valid:not(:disabled)
    background-color: colors.$input-valid-background 
    border: 1px solid colors.$input-valid-border

  .form-input.invalid:not(:disabled)
    background-color: colors.$input-invalid-background
    border: 1px solid colors.$input-invalid-border

/* Focusable */
$outline-width: .35rem
$outline-style: solid

.focusable
  outline: colors.$outline $outline-style 0

.focusable:focus
  @extend .focusable
  outline: colors.$outline $outline-style $outline-width
  border-color: colors.$outline

$focusable-transition: outline-width 100ms ease-in-out
